body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #3c5077;
}
div {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 35%;
    border-radius: 6px;
}
p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: 30px;
}
h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
}
button {
    margin-top: 15px;
    margin-left: 10%;
    height: 35px;
    width: 80%;
    background-color: #6fd649;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 3px;
}
button:hover{
    margin-top: 16px;
    margin-left: 11%;
    height: 34px;
    width: 79%;
    background-color: #b3ec9f;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-radius: 3px;
}